<section>
  <h1>CREATE NEW ENTRY</h1>
  <%= form_with(model: @entry) do |form| %>
    <table>
      <tbody>
        <tr>
          <td>
            <label class="form-label">ENTRY TITLE</label>
          </td>
          <td>
            <%= form.text_field :title, class:"form-text-input", placeholder: 'Resource name...' %>
          </td>
        </tr>
        <tr>
          <td>
            <label class="form-label">RESOURCE URL</label>
          </td>
          <td>
            <%= form.text_field :url, class:"form-text-input", placeholder: "Link to resource..." %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-submit-wrapper">
      <%= form.submit "CREATE ENTRY" %>
    </div>
  <% end %>
  <br>
  <div>
    <%#= link_to "Back to home", root_path %>
  </div>
</section>