@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

:root {
  --app-orange: #f58442;
  --app-orange-dark: #d66724;
  --app-orange-dark-fade: rgba(214, 103, 36, 0.15);
  --app-orange-dark-fade-darker: rgba(214, 103, 36, 0.6);
  --app-orange-dark-fade-darkest: rgba(214, 103, 36, 0.8);
  --app-disabled-grey: #ababab;

  --font-header: 25px;
  --font-header-hover: 26px;
  --font-page-heading: 50px;
  --font-small: 1.2em;
  --font-large: 30px;

  --app-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  --icon-size-large: 30px;
}

* {
  font-family: monospace;
}

// NAVIGATION BAR
.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: baseline;
  background-color: var(--app-orange);
  height: 5rem;
  z-index: 999;
  box-shadow: var(--app-box-shadow);
  position: fixed;
}

.nav-bar {
  align-items: stretch;
  display: flex;
  list-style-type: none;
  width: 100%
}

.nav-link {
  align-items: center;
  height: 5rem;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  color: white;
  border-right: 1px solid var(--app-orange-dark);
  font-size: var(--font-header);
}

.nav-link:hover {
  background-color: var(--app-orange-dark);
  color: white;
  font-weight: bold;
  font-size: var(--font-header-hover);
  transition: background-color 0.4s ease-in-out;
}

.nav-bar-icon {
  padding-right: 0.5rem;
  font-size: var(--icon-size-large);
}

// PAGE STRUCTURE
section {
  display: block;
  padding: 7rem 2rem;

  h1 {
    font-weight: bold;
    font-size: var(--font-page-heading);
  }
}

// HOME PAGE FILTERS
.filters-tab {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: var(--app-box-shadow);

  table {
    margin: 0;
  }
}

.filters-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--app-orange);

  span {
    padding: 12px 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    font-size: var(--font-header);
    display: flex;
    flex-direction: row;

    i {
      align-self: center;
      padding-right: 8px;
    }
  }
}

.filters-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  input, a {
    background-color: var(--app-orange);
    color: white;
    font-size: var(--font-header);
    border: none;
    border-left: 1px solid var(--app-orange-dark);
    text-align: center;

    &:hover {
      background-color: var(--app-orange-dark);
      font-weight: bold;
      font-size: var(--font-header-hover);
      transition: background-color 0.4s ease-in-out;
    }
  }
}

// PAGINATION
.pagination-wrapper {
  display: flex;
  width: 100%;
  //background-color: black;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
  flex-direction: row;
  justify-content: flex-end;
}

.pagination {
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--app-orange);
  font-size: var(--font-small);

  .pagination-number {
    font-weight: bold;
  }

  .pagination-navigator {
    padding: 0 1rem;
    color: var(--app-orange-dark);
    text-decoration: none;

    &:hover {
      color: var(--app-orange);
      font-weight: bold;
      transition: color  0.1s ease-in-out;
    }
  }
}

// HOME PAGE TABLE
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: var(--font-small);
  min-width: 100%;
  box-shadow: var(--app-box-shadow);
}

table thead tr {
  background-color: var(--app-orange);
  color: white;
  text-align: left;
  font-size: 1.5em;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid var(--app-orange-dark-fade);
}

table tbody tr:nth-of-type(even) {
  background-color: var(--app-orange-dark-fade);
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--app-orange);
}

table tbody tr:hover {
  font-weight: bold;
  color: var(--app-orange);
}

.table-actions-column {
  width: 10%;
  text-align: end;
}

.table-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 1rem;
    border: none;
    background-color: unset;

    &:disabled > .table-icon {
      color: var(--app-disabled-grey);
    }
  }
}

.table-icon {
  color: var(--app-orange);
  margin: 0;
  font-size: var(--icon-size-large);

  &:hover {
    color: var(--app-orange-dark);
    transition: color 0.1s ease-in-out;
  }
}

// CREATE NEW PAGE FORM
.form-label {
  font-size: 1.5em;
}

.form-text-input, .filters-search-bar {
  width: 100%;
  border: 2px solid var(--app-orange-dark);

  &:focus {
    border: 2px solid var(--app-orange);
    outline: none;
    transition: border 0.4s ease-in-out;
  }
}

.form-submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;

  form.button_to {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  input, form.button_to button, button {
    width: 66%;
    height: 5rem;
    box-shadow: var(--app-box-shadow);
    border: none;
    font-size: var(--font-large);
    background-color: var(--app-orange-dark);
    color: white;

    &:hover {
      background-color: var(--app-orange);
      font-weight: bold;
      transition: background-color 0.1s ease-in-out;
    }
  }
}

// TAGGING
.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--app-orange-dark-fade-darker);
  border-radius: 8px;
  padding: 8px;
  color: black;
  margin: 8px;

  &:hover {
    background-color: var(--app-orange-dark-fade-darkest);
    transition: background-color 0.1s ease-in-out;
  }
}

.no-resources-dialog {
  width: 100%;
  margin-top: -2rem;
  border-bottom: 2px solid var(--app-orange);
  display: flex;
  justify-content: center;
  font-size: var(--font-header);
  box-shadow: var(--app-box-shadow);

  em:hover {
    color: var(--app-orange);
    font-weight: bold;
    transition: color  0.1s ease-in-out;
  }
}


// LOGIN SYSTEM
.nav-bar-right {
  margin-left: auto;
  border-left: 1px solid var(--app-orange-dark);
  display: flex;
  flex-direction: row;
}

.nav-bar-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error {
  color: red;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  margin-top: -1rem;
}